body {
    background-color: rgb(241, 242, 245);
    display: grid;
    font-size: 24px;
    line-height: 28px;
    width: auto;
    font-family: Helvetica, Arial;
    font-weight: normal;
    margin: 0;
}

.first-row {
    min-height: 90vh;
    float: top;
    position: relative;
    padding-top: 72px;
    padding-top: 116px;
    margin: 0 40px;
    width: auto;
    height: 496px;
}

.second-row {
    background-color: white;
    position: relative;
    float: bottom;
    padding-top: 20px;
    width: auto;
}

.left-page {
    width: 60%;
    float: left;
    height: 100%;
}

.right-page {
    width: 40%;
    float: right;
    height: 100%;
}

.auth-label {
    padding-top: 10px;
    background-color: white;
    width: 400px;
    margin-top: 40px;
    text-align: center;
    height: auto;
    display: inline-block;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    padding-bottom: -20px;
    padding-bottom: 20px;
}

.logo {
    padding: 112px 0 16px;
}

.logopng {
    height: 106px;
    margin: -28px;
}

.welcome-container {
    display: inline-block;
    vertical-align: top;
}

h2 {
    padding: 0 0 20px;
    margin: 0;
}

.connect-fb-text {
    font-family: inherit;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
}

.create-msg {
    margin-top: 28px;
    text-align: center;
    border-top: none;
    font-size: 14px;
    padding-top: 0;
    font-weight: normal;
    line-height: 1.34;
}

.auth-box {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    padding-top: 0;
    font-weight: normal;
    display: inline-block;

}

.link-create {
    font-weight: 600;
    color: inherit;
    text-decoration: none;
}

.auth-form {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 12px;
    display: block;
}

.log-label {
    font-family: inherit;
    font-size: 17px;
    width: 364px;
    display: inline-block;
    padding: 6px 0 6px 0;
    text-align: center;
    margin: auto;
    line-height: 1.34;
}

.input-log {
    font-family: inherit;
    border-radius: 6px;
    font-size: 17px;
    padding: 14px 16px;
    width: 330px;
    height: 22px;
    line-height: 16px;
    vertical-align: middle;
    text-shadow: none;
    text-indent: 0px;
    border: 1px solid #dddfe2;
}

.log-button-label {
    padding-top: 6px;
    font-family: inherit;
    text-align: center;
}

.login-button {
    background-color: #1877f2;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    line-height: 48px;
    padding: 0 16px 0 16px;
    width: 364px;
    text-decoration: none;
    white-space: nowrap;
    color: white;
    font-weight: bold;
    vertical-align: middle;
    text-shadow: none;
}

.login-button:hover {
    background-color: #006ffa;
}

.reset-a-label {
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    color: #1877f2;
}

.line-between-reset-and-reg {
    align-items: center;
    border-bottom: 1px solid #dadde1;
    display: flex;
    margin: 20px 16px;
    text-align: center;
}

.reg-button {
    border: none;
    border-radius: 6px;
    font-size: 17px;
    line-height: 48px;
    padding: 0 16px;
    display: inline-block;
    text-decoration: none;
    white-space: nowrap;
    background-color: #42b72a;
    color: #fff;
    font-weight: bold;
    text-shadow: none;
    text-align: center;
    box-sizing: content-box;
    font-family: inherit;
}

.reg-button:hover {
    background-color: #1caf00;
}

.footer {
    display: block;
}

#pageFooter {
    margin: 0 10px;
    width: auto;
    color: #737373;
}

.languagesLabel {
    font-size: 12px;
    font-family: inherit;
    display: flex;
}

ul {
    list-style-type: none;
    flex-wrap: wrap;
    margin-block-start: 0;
    margin-block-end: 0;
}

.languageText {
    padding-left: 10px;
}

.MoreLangButton {
    width: 12px;
    height: 18px;
    bottom: 1px;
    background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yW/r/FVVDl1dsRs_.png);
    background-size: 295px 305px;
    display: inline-block;
    background-position: -171px -272px;
    position: relative;
    vertical-align: middle;
    border: 1px solid #ccd0d5;
    border-radius: 2px;
    box-sizing: content-box;
    text-align: center;
    background-color: #f5f6f7;
    padding: 0 8px;
}

#contentCurve {
    border-bottom: 1px solid #dddfe2;
    height: 8px;
    margin: 0 40px 8px 40px;
}

.mvl-copyright {
    margin: 20px 0 20px 40px;
    font-size: 12px;
}